mkdocs>=1.5.0
mkdocs-material>=9.5.0
mkdocs-glightbox>=0.3.4
mkdocs-git-revision-date-localized-plugin>=1.2.4
mkdocs-badges>=0.4.5  
mkdocs-render-swagger-plugin>=0.1.2
mkdocs-minify-plugin>=0.7.1
mkdocs-markdown-exec-plugin>=1.8.0
git+https://github.com/termynal/termynal.py.git
pymdown-extensions>=10.7