mkdocs>=1.5.0
mkdocs-material>=9.0.0
mkdocs-glightbox>=0.3.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-badges>=3.0.0
mkdocs-render-swagger-plugin>=0.1.0
mkdocs-minify-plugin>=0.7.0
mkdocs-markdown-exec-plugin>=1.6.0
termynal>=0.12.1
pymdown-extensions>=10.0.0